:root {
  --emphasis-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --bcg-footer-color: #2f303a;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-btn-shadow: rgba(0, 0, 0, 0.15);
  --white-color: #ffffff;
  --black-color: #000000;
  --second-bcg: #f5f4fa;
  --border-header: #ececec;
  --clients-links: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0%;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--emphasis-color);
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-header);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--emphasis-color);
  transition: color 250ms var(--cubic);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: scale(0);
  opacity: 0;
  transition: transform 750ms var(--cubic), opacity 750ms var(--cubic);
}

.nav-list-link:hover::after, .nav-list-link:focus::after {
  opacity: 1;
  transform: scale(1);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.navigation .logo {
  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-accent-color {
  color: var(--accent-color);
}

.footer .logo {
  display: inline-block;
}

.black-logo {
  color: var(--black-color);
}

.white-logo {
  color: var(--white-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--emphasis-color);
  position: relative;
}

.header-contacts-link > .number,
.header-contacts-link > .mail {
  color: var(--text-color);
  transition: color 250ms var(--cubic);
}

.header-contacts-link:focus, .header-contacts-link:hover,
.header-contacts-link:hover .mail,
.header-contacts-link:focus .mail,
.header-contacts-link:hover .number,
.header-contacts-link:focus .number {
  outline-style: none;
  color: var(--accent-color);
}

.header-contacts-link:hover .envelope-img,
.header-contacts-link:focus .envelope-img,
.header-contacts-link:hover .phone-img,
.header-contacts-link:focus .phone-img {
  fill: var(--accent-color);
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.phone-img {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.envelope-img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.hero {
  margin: 0 auto;
  max-width: 1600px;
  background-color: var(--bcg-footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin: 0 auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px var(--hero-btn-shadow);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.feature {
  padding: 94px 0;
}

.feature-list {
  display: flex;
}

.feature-list-item {
  width: calc((100% - 90px)/4);
}

.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-img-bcg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--second-bcg);
}

.feature-img {
  width: 70px;
  height: 70px;
}

.feature-subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--emphasis-color);
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.we-do {
  padding-bottom: 94px;
}

.we-do-list {
  display: flex;
}

.we-do-item {
  position: relative;
}

.we-do-item:not(:last-child) {
  margin-right: 30px;
}

.we-do-caption {
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
}

.our-team {
  min-width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--second-bcg);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team-list-item {
  margin: 15px;
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-caption {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--emphasis-color);
}

.team-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-color);
}

.network-list {
  display: flex;
}

.network-list-item {
  width: 44px;
  height: 44px;
}

.network-list-item:not(:last-child) {
  margin-right: 10px;
}

.network-list.reverse {
  margin-top: 20px;
}

.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--cubic);
}

.network-link:hover, .network-link:focus {
  background-color: var(--accent-color);
}

.network-link.reverse {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.network-link.reverse:hover, .network-link.reverse:focus {
  background-color: var(--accent-color);
}

.network-img {
  fill: var(--clients-links);
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--cubic);
}

.network-link:hover .network-img,
.network-link:focus .network-img {
  fill: var(--white-color);
}

.reverse .network-img {
  fill: var(--white-color);
}

.network-link.reverse:hover,
.network-link.reverse:focus {
  background-color: var(--accent-color);
}

.constant-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  margin: -15px;
  display: flex;
}

.client-list-item {
  width: 170px;
  height: 90px;
  margin: 15px;
}

.client-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--clients-links);
  border-radius: 4px;
  transition: border-color 250ms var(--cubic);
}

.client-link:hover, .client-link:focus {
  outline-style: none;
  border-color: var(--accent-color);
}

.client-img {
  fill: var(--clients-links);
  transition: fill 250ms var(--cubic);
}

.client-link:hover .client-img,
.client-link:focus .client-img {
  fill: var(--accent-color);
}

.logo-1 {
  width: 45px;
  height: 50px;
}

.logo-2 {
  width: 40px;
  height: 52px;
}

.logo-3 {
  width: 41px;
  height: 43px;
}

.logo-4 {
  width: 80px;
  height: 42px;
}

.logo-5 {
  width: 59px;
  height: 47px;
}

.logo-6 {
  width: 89px;
  height: 46px;
}

/* FOOTER */
.footer {
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-footer-color);
}

.bottom {
  display: flex;
  align-items: baseline;
}

.bottom-contacts {
  margin-right: 70px;
}

.footer-contacts-link.mail, .footer-contacts-link.number {
  color: var(--link-footer-color);
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.join-box {
  margin-right: 93px;
}

.join,
.subscribe {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-email {
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  outline: none;
  color: var(--white-color);
}

.subscribe-email::placeholder {
  color: var(--link-footer-color);
}

.sbc-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 29px;
  padding-right: 29px;
}

.sbc-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

.address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.address > .map {
  color: var(--white-color);
}

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: translateX(0);
  transition: all 1000ms var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-100%);
}

.modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
}

.modal-close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.close-icon {
  width: 18px;
  height: 18px;
  fill: var(--black-color);
  transition: fill 250ms var(--cubic);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--accent-color);
}

.form-box {
  padding: 40px;
}

.data-title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--emphasis-color);
  margin-bottom: 12px;
}

.data-form {
  display: flex;
  flex-direction: column;
}

.data-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--emphasis-color);
  transition: fill 250ms var(--cubic);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
}

.input-area:focus + .data-icon {
  fill: var(--accent-color);
}

.data-button {
  align-self: center;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
  transition: background-color 250ms var(--cubic);
}

.data-button:hover, .data-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.input-wrap {
  position: relative;
}

.input-area {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition: border-color 250ms var(--cubic);
}

.input-area:focus {
  border-color: var(--accent-color);
  outline: none;
}

.comment {
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.comment::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment:not(:placeholder-shown) {
  border-color: rgba(33, 33, 33, 0.2);
}

.agreement {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
  cursor: pointer;
}

.agreement-link {
  color: var(--accent-color);
}

.agreement::before {
  content: '';
  display: block;
  width: 100%;
  width: 16px;
  height: 15px;
  border: 2px solid var(--emphasis-color);
  border-radius: 3px;
  margin-right: 7px;
  transition: background-color 250ms var(--cubic), fill 250ms var(--cubic), box-shadow 250ms var(--cubic), border 250ms var(--cubic);
  cursor: pointer;
}

.agreement-check:focus + .agreement::before {
  background-color: var(--accent-color);
  border: none;
  background-image: url(../images/checked.svg);
  fill: var(--white-color);
}
/*# sourceMappingURL=main.css.map */