:root {
  --emphasis-color: #212121;
  --accent-color: #2196F3;
  --text-color: #757575;
  --bcg-footer-color: #2f303a;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-btn-shadow: rgba(0, 0, 0, 0.15);
  --white-color: #ffffff;
  --black-color: #000000;
  --second-bcg: #f5f4fa;
  --border-header: #ececec;
  --clients-links: #AFB1B8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0%;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--emphasis-color);
}

.projects-button {
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--emphasis-color);
  background-color: var(--second-bcg);
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms var(--cubic), background-color 250ms var(--cubic), box-shadow 250ms var(--cubic);
}

.projects-button:hover, .projects-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  outline: none;
}

.network-list {
  display: flex;
}

.network-list-item {
  width: 44px;
  height: 44px;
}

.network-list-item:not(:last-child) {
  margin-right: 10px;
}

.network-list.reverse {
  margin-top: 20px;
}

.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--cubic);
}

.network-link:hover, .network-link:focus {
  background-color: var(--accent-color);
}

.network-link.reverse {
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms var(--cubic);
}

.network-link.reverse:hover, .network-link.reverse:focus {
  background-color: var(--accent-color);
}

.network-img {
  fill: var(--clients-links);
  width: 20px;
  height: 20px;
  transition: fill 250ms var(--cubic);
}

.network-link:hover .network-img,
.network-link:focus .network-img {
  fill: var(--white-color);
}

.reverse .network-img {
  fill: var(--white-color);
}

.network-link.reverse:hover,
.network-link.reverse:focus {
  background-color: var(--accent-color);
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-header);
}

.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--emphasis-color);
  transition: color 250ms var(--cubic);
}

.nav-list-link:hover, .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list-link::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: center bottom;
  transform: scale(0);
  opacity: 0;
  transition: transform 750ms var(--cubic), opacity 750ms var(--cubic);
}

.nav-list-link:hover::after, .nav-list-link:focus::after {
  opacity: 1;
  transform: scale(1);
}

.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
}

.navigation .logo {
  margin-right: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-accent-color {
  color: var(--accent-color);
}

.footer .logo {
  display: inline-block;
}

.black-logo {
  color: var(--black-color);
}

.white-logo {
  color: var(--white-color);
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  transition: color 250ms var(--cubic), fill 250ms var(--cubic);
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--emphasis-color);
  position: relative;
}

.header-contacts-link > .number,
.header-contacts-link > .mail {
  color: var(--text-color);
  transition: color 250ms var(--cubic);
}

.header-contacts-link:focus, .header-contacts-link:hover,
.header-contacts-link:hover .mail,
.header-contacts-link:focus .mail,
.header-contacts-link:hover .number,
.header-contacts-link:focus .number {
  outline-style: none;
  color: var(--accent-color);
}

.header-contacts-link:hover .envelope-img,
.header-contacts-link:focus .envelope-img,
.header-contacts-link:hover .phone-img,
.header-contacts-link:focus .phone-img {
  fill: var(--accent-color);
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.phone-img {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.envelope-img {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--text-color);
  transition: fill 250ms var(--cubic);
}

.projects {
  padding-bottom: 94px;
  padding-top: 94px;
}

.projects-list-buttons {
  display: flex;
  margin-bottom: 55px;
  justify-content: center;
}

.projects-list-item:not(:last-child) {
  margin-right: 8px;
}

.projects-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--emphasis-color);
}

.projects-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.projects-caption {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.projects-link:hover, .projects-link:focus {
  outline-style: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.image-layer {
  position: relative;
  overflow: hidden;
}

.image-layer-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms var(--cubic);
}

.projects-link:hover .image-layer-p,
.projects-link:focus .image-layer-p {
  transform: translateY(0%);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-list-item {
  width: 370px;
  background-color: var(--white-color);
}

.example-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.example-list-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

/* FOOTER */
.footer {
  min-width: 1200px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bcg-footer-color);
}

.bottom {
  display: flex;
  align-items: baseline;
}

.bottom-contacts {
  margin-right: 70px;
}

.footer-contacts-link.mail, .footer-contacts-link.number {
  color: var(--link-footer-color);
}

.footer-contacts-link:not(:last-child) {
  margin-bottom: 9px;
}

.join-box {
  margin-right: 93px;
}

.join,
.subscribe {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-email {
  display: inline-block;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-left: 16px;
  outline: none;
  color: var(--white-color);
}

.subscribe-email::placeholder {
  color: var(--link-footer-color);
}

.sbc-button {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding-left: 29px;
  padding-right: 29px;
}

.sbc-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--white-color);
}

.address {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.address > .map {
  color: var(--white-color);
}
/*# sourceMappingURL=portfolio.css.map */