.feature {
    padding-top: 60px;
    padding-bottom: 60px;

    &-subtitle {
        margin-bottom: 10px;
        @include titleFont ($fs: 14px, $lh: 16px);
        text-transform: uppercase;
        color: var(--emphasis-color);

        @media screen and (max-width: 767px) {
            text-align: center; 
        }
    }
    
    &-text {
        @include fontText ($fs: 14px, $lh: 24px);
        color: var(--text-color);
    }

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;        
    }
}

.feature-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.feature-list-item {
    max-width: 450px;
    margin: 0;

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px; 
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 15px * 4) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 15px * 8) / 4);
    }
}

.feature-icon-bcg {
    @include centeredFlex ();
    background-color: var(--second-bcg);
    height: 120px;
    margin-bottom: 30px;
}



    
