.header-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-contacts-link {
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic),
    fill 250ms var(--cubic);
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--emphasis-color);  
    
    position: relative;

    & > .number,
    & > .mail {
        color: var(--text-color);
        transition: color 250ms var(--cubic);
    }

    &:focus,
    &:hover,
    &:hover .mail,
    &:focus .mail,
    &:hover .number,
    &:focus .number {
        outline-style: none;
        color: var(--accent-color);
    }

    &:hover .envelope-img,
    &:focus .envelope-img,
    &:hover .phone-img,
    &:focus .phone-img {
        fill: var(--accent-color);
    }
}

.header-contacts-item:not(:last-child) {
    margin-right: 50px;
}

.phone-img {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--text-color);

    transition: fill 250ms var(--cubic);

    
}

.envelope-img {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--text-color);

    transition: fill 250ms var(--cubic);
}
