.header-contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
        align-items: center;
    }
}

.header-contacts-link {
    display: flex;
    align-items: center;
    transition: color 250ms var(--cubic),
    fill 250ms var(--cubic);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--emphasis-color);  
    
    position: relative;

    @media screen and (min-width: 1199px) {
        padding-top: 33px;
        padding-bottom: 33px;
    }

    & > .number,
    & > .mail {
        color: var(--text-color);
        transition: color 250ms var(--cubic);
    }

    &:focus,
    &:hover,
    &:hover .mail,
    &:focus .mail,
    &:hover .number,
    &:focus .number {
        color: var(--accent-color);
    }

    &:hover .envelope-img,
    &:focus .envelope-img,
    &:hover .phone-img,
    &:focus .phone-img {
        fill: var(--accent-color);
    }
}



.header-number {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-bottom: 21px;
    }
}

.header-mail {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        padding-top: 21px;
    }
}


.header-contacts-item {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
        margin-right: 50px;
        }
    }
}

.phone-img {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--text-color);

    transition: fill 250ms var(--cubic);
}

.envelope-img {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--text-color);

    transition: fill 250ms var(--cubic);
}
