.header {
    border-bottom: 1px solid var(--border-header);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: end;

    // @media screen and (max-width: 600px) {
    //     justify-content: space-evenly;
    // }
}