.hero {
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    margin: 0 auto;
    background-color: var(--bcg-footer-color);
    background-image: linear-gradient(
           rgba(47, 48, 58, 0.4),
           rgba(47, 48, 58, 0.4)
           ), url(../../images/hero/hero-mobile.jpg);
    background-size: cover;

    @media screen and (min-width: 1200px) {
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    &-title {
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
        max-width: 360px;
        @include titleFont ($fs: 26px, $lh: 42px, $ls: 0.06em, $fw: 900);
        text-align: center;
        text-transform: uppercase;
        color: var(--white-color);

        @media screen and (min-width: 1200px) {
            @include titleFont ($fs: 44px, $lh: 60px, $ls: 0.06em, $fw: 900);
            max-width: 696px;
        }
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
        .hero {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ), url(../../images/hero/hero-mobile@2x.jpg);
        }
}


@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url(../../images/hero/hero-tablet.jpg);
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
        .hero {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ), url(../../images/hero/hero-tablet@2x.jpg);
        }
}


@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
            ), url(../../images/hero/hero-desktop.jpg);
    }
}


@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
        .hero {
            background-image: linear-gradient(
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)
                ), url(../../images/hero/hero-desktop@2x.jpg);
        }
}


