.logo {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: Raleway;
    @include titleFont ($fs: 24px, $lh: 28px);

    &-accent-color {
        color: var(--accent-color);
    }

    @media screen and (min-width: 768px) {
        margin-top: 26px;
        margin-bottom: 26px;
    }

    @media screen and (min-width: 1200px) {
        @include titleFont ($fs: 26px, $lh: 31px);
        
    }
}

.black-logo {
    color: var(--black-color);
}

.white-logo {
    color: var(--white-color);
}