*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0%;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}