:root {
    --emphasis-color: #212121;
    --accent-color: #2196F3;
    --text-color: #757575;
    --bcg-footer-color: #2f303a;
    --link-footer-color: rgba(255, 255, 255, 0.6);
    --hero-btn-shadow: rgba(0, 0, 0, 0.15);
    --white-color: #ffffff;
    --black-color: #000000;
    --second-bcg: #f5f4fa;
    --border-header: #ececec;
    --clients-links: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --main-font: "Roboto", sans-serif;
}